.jumbotron{
    width:100%;
    height:500px;
    padding:0;
    margin: 0;
    

}

.navbar {
    background-color: bisque;
    color:white;
    font-size: 20px;
    width:100%;
    margin-bottom: 0;
  }

.jumbotron .background-image{
 background-image : url("../images/news.jpg");
 height:100%;
 background-size: cover;
  
}

.navbar-nav{
    background-color: darkgrey;
    color:white;
    font-size: 20px;
    width:100%;
    margin-bottom: 0;
}
.card .card-header{
    background-color: darkgray;
    position: relative;
    height:100px;
    color:darkgray;
    

}
.card .card-header ,.article-link{
    color:black;
    

}
.card .card-header .btn{
    position: absolute;
    right: 20px;
    background-color: coral;
    
}
.card{
    margin: 20px 0;
    
}
.mongo  {
    margin-right: 50px;
    color:black;
    
    
}
.savelink{
margin-right: 250px;

}
.homelink{
    margin-right: 30px;
    
}

.jumbotron .captain{
    color: coral;
    text-align: center;
    top:30%;
}